#services:
#
#  postgres_test:
#    image: postgres:latest
#    container_name: postgres_test
#    ports:
#      - "55432:5432"
#    environment:
#      POSTGRES_USER: test
#      POSTGRES_PASSWORD: password
#    healthcheck:
#      test: [ "CMD-SHELL", "pg_isready -U test -d test -h localhost" ]
#
#  migrate:
#    image: arigaio/atlas:latest
#    container_name: migrate
#    depends_on:
#      postgres_test:
#        condition: service_healthy
#    command: >
#      migrate apply
#      --url postgres://test:password@postgres_test:5432/test?sslmode=disable
#    volumes:
#      - ./migrations:/migrations


services:

  test:
    image: postgres:latest
    container_name: test
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test
    ports:
      - "55432:5432"

  db:
    image: postgres:latest
    container_name: db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"

  app:
    image: ghcr.io/oatsmoke/warehouse_backend/app:latest
    container_name: app
    environment:
      POSTGRES_DSN: postgres://root:password@db:5432/mydb?sslmode=disable
    depends_on:
      - db
    ports:
      - "8080:8080"

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail/config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - loki
