services:

  loki:
    image: grafana/loki:latest
    container_name: loki
    labels:
      app: "loki"
    logging:
      driver: json-file
      options:
        labels: "app"
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki_data:/loki

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    depends_on:
      - loki
    labels:
      app: "promtail"
    logging:
      driver: json-file
      options:
        labels: "app"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail/config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    labels:
      app: "grafana"
    logging:
      driver: json-file
      options:
        labels: "app"
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

  #  db_test:
  #    image: postgres:latest
  #    container_name: db_test
  #    labels:
  #      app: "db_test"
  #    logging:
  #      driver: json-file
  #      options:
  #        labels: "app"
  #    ports:
  #      - "55432:5432"
  #    environment:
  #      POSTGRES_USER: test
  #      POSTGRES_PASSWORD: password
  #      POSTGRES_DB: test

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    labels:
      app: "kafka"
    logging:
      driver: json-file
      options:
        labels: "app"
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT_HOST://:9092,PLAINTEXT://:9094,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT_HOST://localhost:9092,PLAINTEXT://kafka:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka-init-topics:
    image: apache/kafka:latest
    container_name: kafka-init-topics
    depends_on:
      - kafka
    command: >
      bash -c "
      echo 'Waiting for Kafka to be ready...' &&
      until /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9094 --list > /dev/null 2>&1; do
        sleep 2
      done &&
      echo 'Kafka ready! Creating topics...' &&
      /opt/kafka/bin/kafka-topics.sh --create --if-not-exists --topic actions --partitions 1 --replication-factor 1 --bootstrap-server kafka:9094 &&
      echo 'Topic created!'
      "

  clickhouse_db:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse_db
    depends_on:
      - kafka
    labels:
      app: "clickhouse_db"
    logging:
      driver: json-file
      options:
        labels: "app"
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: admin
      CLICKHOUSE_PASSWORD: admin
    volumes:
      - clickhouse_db_data:/var/lib/clickhouse
      - ./init_clickhouse_db:/docker-entrypoint-initdb.d

  postgres_db:
    image: postgres:latest
    container_name: postgres_db
    labels:
      app: "postgres_db"
    logging:
      driver: json-file
      options:
        labels: "app"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wh
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d wh -h localhost" ]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - postgres_db_data:/var/lib/postgresql

  redis_db:
    image: redis:latest
    container_name: redis_db
    labels:
      app: "redis_db"
    logging:
      driver: json-file
      options:
        labels: "app"
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - redis_db_data:/data

  wh_backend:
    image: ghcr.io/oatsmoke/warehouse_backend/app:latest
    container_name: wh_backend
    depends_on:
      postgres_db:
        condition: service_healthy
      redis_db:
        condition: service_healthy
    labels:
      app: "wh_backend"
    logging:
      driver: json-file
      options:
        labels: "app"
    ports:
      - "8080:8080"
    environment:
      POSTGRES_DSN: postgres://root:password@postgres_db:5432/wh?sslmode=disable

volumes:
  loki_data:
  grafana_data:
  kafka_data:
  clickhouse_db_data:
  postgres_db_data:
  redis_db_data: